In [2]:
import pandas as pd
import numpy as np
import os 

from matplotlib import pyplot as plt

# 모든 컬럼을 보여주는 함수
from IPython.display import display
pd.options.display.max_columns = None

# 시드 고정 
np.random.seed(42)

print(os.listdir('./dataset/bike_sharing/'))

['day.csv', 'hour.csv', 'Readme.txt']

# Load Data

In [10]:
day = pd.read_csv('./dataset/bike_sharing/day.csv')
hour = pd.read_csv('./dataset/bike_sharing/hour.csv')

print('day shape : ', day.shape)
print('hour shape :', hour.shape)

day shape :  (731, 16)
hour shape : (17379, 17)

# Information

In [11]:
day.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [12]:
hour.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

# Preprocessing

- 범주형 : season, yr, mnth, hr, holiday, weekday, workingday, weathersit
- 수치형 : temp, atemp, hum, windspeed, casual, registered

In [20]:
hour['yr']= hour['yr'].map({0: '2011', 1 : '2012'})
hour['holiday'] = hour['holiday'].map({0: 'holiday', 1 : 'working'})
hour['weekday'] = hour['weekday'].map({0: 'mon', 1 : 'Tue', 2: 'Wed', 3 : 'Thu', 4: 'Fri', 5 : 'Sat', 6 : 'Sun'})
hour['weathersit'] = hour['weathersit'].map({0: 'Clear', 1 : 'Mist', 2 : 'Light_snow', 3 : 'Heavy_rain'})

In [21]:
 data = pd.get_dummies(hour, columns=['season', 'yr', 'mnth', 'hr', 'holiday', 'weekday', 'workingday', 'weathersit'])

In [22]:
data.head()

,instant,dteday,temp,atemp,hum,windspeed,casual,registered,cnt,season_1,season_2,season_3,season_4,yr_2011,yr_2012,mnth_1,mnth_2,mnth_3,mnth_4,mnth_5,mnth_6,mnth_7,mnth_8,mnth_9,mnth_10,mnth_11,mnth_12,hr_0,hr_1,hr_2,hr_3,hr_4,hr_5,hr_6,hr_7,hr_8,hr_9,hr_10,hr_11,hr_12,hr_13,hr_14,hr_15,hr_16,hr_17,hr_18,hr_19,hr_20,hr_21,hr_22,hr_23,holiday_holiday,holiday_working,weekday_Fri,weekday_Sat,weekday_Sun,weekday_Thu,weekday_Tue,weekday_Wed,weekday_mon,workingday_0,workingday_1,weathersit_Heavy_rain,weathersit_Light_snow,weathersit_Mist
0,1,2011-01-01,0.24,0.2879,0.81,0.0,3,13,16,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,1
1,2,2011-01-01,0.22,0.2727,0.80,0.0,8,32,40,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,1
2,3,2011-01-01,0.22,0.2727,0.80,0.0,5,27,32,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,1
3,4,2011-01-01,0.24,0.2879,0.75,0.0,3,10,13,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,1
4,5,2011-01-01,0.24,0.2879,0.75,0.0,0,1,1,1,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,1,0,0,0,1